/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v34-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v34-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/josefin-sans-v34-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/josefin-sans-v34-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v34-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v34-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v34-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v34-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
}

.secti {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.hero {
  margin-left: 4px;
  display: flex;
  margin-top: 65.76px;
  padding-bottom: 136px;
  align-items: center;
  h2 {
    font-size: 14px;
    font-family: "Josefin Sans";
    font-weight: 200;
  }
}
.imga {
  padding-right: 11px;
}

.hero1 {
  padding-left: 165px;
  padding-right: 220px;
  background-image: linear-gradient(#ffffff, #fff4f4);
}
.hero3 {
  h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 17.32px;
    font-weight: 300;
    color: #ce9898;
    font-family: "Josefin Sans";
  }
  h3 {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.32px;
    font-weight: 400;
    padding-bottom: 32px;
    font-family: "Josefin Sans";
  }
  p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Josefin Sans";
    color: #f96464;
  }
}
.vertu {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.for {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 78%;
}
input {
  padding: 15px 30px;
  border-radius: 60px;
  padding: 19px;
  width: 100%;
  outline: none;
  border: 2px solid rgb(203, 200, 200);
  transition: 0.2s ease;
}
.vertu2 {
  z-index: 4;
  color: black;
  background-color: #ee8b8b;
  position: absolute;
  left: 77%;
  border-radius: 60px;
  padding: 16px 46px;
  transition: transform 0.7s ease;
}
.pen {
  padding-bottom: 40px;
  font-family: "Josefin Sans";
  color: #ce9898;
}

input:hover {
  border: 2px solid #ee8b8b;
}
.vertu:hover .vertu2 {
  transform: translateX(35px);
  cursor: pointer;
}
.vertu4 {
  padding-top: 10px;

  color: #ee8b8b;
  display: none;
  transition: 2s;
}
.vertu:hover .vertu4 {
  display: inline-block;
}

.vertu:hover {
  color: #ee8b8b;
}
.input:hover.vertu4 {
  display: inline-block;
}
.vertu:hover .animatsiya {
  display: inline-block;
}
.animatsiya {
  display: none;
  margin-top: 70px;
  text-align: center;
}
span {
  position: relative;
  top: 7px;
  color: rgb(35, 41, 224);
  display: inline-block;
  font-size: 1rem;
  text-shadow: -4px px 2px rgba(35, 29, 31, 0.56);
  animation: bounce 0.8s ease infinite alternate;
}
h6 span:nth-child(2) {
  animation-delay: 0.1s;
}
h6 span:nth-child(2) {
  animation-delay: 0.1s;
}
h6 span:nth-child(3) {
  animation-delay: 0.2s;
}
h6 span:nth-child(4) {
  animation-delay: 0.3s;
}
h6 span:nth-child(5) {
  animation-delay: 0.4s;
}
h6 span:nth-child(6) {
  animation-delay: 0.5s;
}
h6 span:nth-child(7) {
  animation-delay: 0.6s;
}
h6 span:nth-child(8) {
  animation-delay: 0.7s;
}

h6 span:nth-child(9) {
  animation-delay: 0.8s;
}
h6 span:nth-child(10) {
  animation-delay: 0.9s;
}
h6 span:nth-child(11) {
  animation-delay: 1s;
}
h6 span:nth-child(1) {
  animation-delay: 1, 1s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #ccc,
      0 4px 0 #ccc,
      0 5px 0 #ccc,
      0 6px 0 #ccc,
      0 7px 0 #ccc,
      0 8px 0 #ccc,
      0 9px 0 #ccc,
      0 60px 30px rgba(0, 0, 0, 0.3);
  }
}

.vero {
  display: none;
}
@media (max-width: 750px) {
  .vali1 {
    display: none;
  }
}

@media (max-width: 450px) {
  .vero {
    width: 100%;
    height: 250px;
    display: block;
  }
  .hero {
    padding-top: 31px;
    padding-bottom: 32px;
    padding-left: 32px;
    margin: 0px;
  }
  .hero3 {
    padding: 0px;
    padding-top: 64px;
    text-align: center;
  }
  .pen {
    padding-left: 10px;
    padding-bottom: 32px;
    text-align: center;
    line-height: 32px;
  }
  .vertu {
    margin: auto;

    padding-bottom: 92px;
    width: 80%;
  }
  .hero1 {
    padding: 1px;
  }
  .vertu4 {
    margin: auto;

    padding-left: 20px;
  }
}
